
    .navbar-toggler[b-neian5bnjx] {
        appearance: none;
        cursor: pointer;
        width: 3.5rem;
        height: 2.5rem;
        color: white;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        border: 1px solid rgba(0, 255, 21, 0.1);
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
    }

    .navbar-toggler:checked[b-neian5bnjx] {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .top-row[b-neian5bnjx] {
        height: 3.5rem;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    .navbar-brand[b-neian5bnjx] {
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
    }

    .bi[b-neian5bnjx] {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    .nav-item[b-neian5bnjx] {
        font-size: 1rem;
        padding: 0.75rem 1rem;
    }

    .nav-item[b-neian5bnjx]  .nav-link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .nav-item[b-neian5bnjx]  .nav-link:hover,
    .nav-item[b-neian5bnjx]  .nav-link:focus {
        background-color: rgba(112, 119, 112, 0.1);
        border-radius: 0.25rem;
    }

    .nav-scrollable[b-neian5bnjx] {
        display: none;
    }

    .navbar-toggler:checked ~ .nav-scrollable[b-neian5bnjx] {
        display: block;
    }

    @media (min-width: 641px) {
        .navbar-toggler[b-neian5bnjx] {
            display: none;
        }

        .nav-scrollable[b-neian5bnjx] {
            display: block;
            height: calc(100vh - 3.5rem);
            overflow-y: auto;
        }
    }

